@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
*{
    margin: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.trending{
    background-color: #22254b;

}
.movie{
    
    background-color: #373b69;
    width:290px;
    margin: 1rem;
    overflow: hidden;
    border-radius: 2px;
    position: relative;

}
.movie img{
       max-width: 100%; 
}
.header{
    position: relative;
    background-color:#22254b;
}
.movie-container
{
    
    display: flex;
    flex-wrap: wrap;
    background-color: #22254b;
}
.movie-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    color : white;

}

.movie-info h3{
    margin: 0;
}

.movie-hover{
    background-color: white;
    color :#22254b;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    max-height: 100%;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
}

.movie:hover .movie-hover{
    transform: translateY(0%);
}

.tag{
    background-color: #22254b;
    border-radius: 5px;
    padding: 0.5rem;
}
.tag.green{
    color: green;
}

.tag.orange{
    color: orange;
}
.tag.red{
    color: red;
}

.root{
    display: flex;
    flex-direction: column;
}

.submit{
    background-color: #22254b;
    color: burlywood;
    border: 2px solid black;
    border-radius: 12px;
    transition-duration: 0.4s; 
    margin: 1rem;
    font-size: 25px;
    padding: 1px;
    padding-right: 1px;
}
.submit:hover {
    background-color: black; /* Green */
    color: white;

  }

.trending-label{
    font-size: 3em;
    font-style: oblique;
    font-family: 'Comforter Brush', cursive;
    margin: 1rem;
    color:burlywood;

}
.week{
    font-size: 2em;
    font-style: oblique;
    margin: 1rem;
    color:burlywood;
    font-family: 'Open Sans', sans-serif;
}
select {
    -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    background-color: #22254b;
    color: aliceblue;
    border: 1px solid #AAA;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: burlywood;
    font-size: inherit;  
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;  
}
.Home
{
    position: relative;
    
}
.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  
  .topnav-right {
    float: right;
  }

  .topnav-right a {
    color: red;
  }
  
  .signupFrm
  {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-family: "lato", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .form {
    background-color: white;
    width: 300px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
  }
  
  .title {
    font-size: 30px;
    margin-bottom: 30px;
    cursor: pointer;
  }
  .title2{
    font-size: 40px;
    margin-bottom: 50px;
    cursor: pointer;
  }
  .inputContainer {
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 17px;
  }
  .input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
  }
  
  /* Hide the placeholder texts (a) */
  
  ::placeholder {
    color: transparent;
  }

    .label {
        position: absolute;
        top: 15px;
        left: 15px;
        padding: 0 4px;
        background-color: white;
        color: #DADCE0;
        font-size: 16px;
        transition: 0.5s;
        z-index: 0;
      }
 
      .submitBtn {
        display: block;
        margin-left: auto;
        padding: 15px 30px;
        border: none;
        background-color: #22254b;
        color: white;
        border-radius: 6px;
        cursor: pointer;
        font-size: 16px;
        margin-top: 30px;
      }
      
      .submitBtn:hover {
        background-color: #373b69;
        transform: translateY(-2px);
      }

     

      .input:focus + .label {
        top: -7px;
        left: 3px;
        z-index: 10;
        font-size: 14px;
        font-weight: 600;
        color: #373b69;
      }
      .input:focus {
        border: 2px solid #373b69;
      }
      .input:not(:placeholder-shown)+ .label {
        top: -7px;
        left: 3px;
        z-index: 10;
        font-size: 14px;
        font-weight: 600;
      }


.google-btn {
  width: 184px;
  height: 42px;
  align-items: center;
  justify-content: center;
  margin-left: 110px;
  margin-top: 10px;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
  cursor: pointer;
}
  .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
  }
  .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }
  .btn-text {
    float: right;
    margin: 15px 15px 0 0;
    color: #22254b;
    font-size: 12px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
    
  }
  .google-btn:active {
    background:  #1669F2;
  }
.forgotpass
{
    float: right;
}

.logout{
  color:red;
}

.Error{
  color:red;
  justify-content: center;
  margin-left: auto;
  font-weight: bold;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:500);

.avatar {
  vertical-align: middle;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border-width: 5px;
  border-color: gray;
  border-style: outset;
}


/*  */

.tweetBox {
  padding-bottom: 10px;
  border-bottom: 8px solid var(--twitter-background);
  padding-right: 10px;
  width: 40%;
  margin-left: 25%;
  margin-right: 20%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;

}

.tweetBox > form {
  display: flex;
  flex-direction: column;

  height: auto;
}

.tweetBox__input {
  padding: 20px;
  display: flex;
  width: auto;
}

.tweetBox__input > input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border-radius: 20px;
  border-color: black;
  width: 60%;
  color: black;
}



.tweetBox__tweetButton {
 background-color: #0da4fb;
    color: white;
    border: 2px solid #0da4fb;
    border-radius: 12px;
    transition-duration: 0.4s; 
    margin-left: 80%;
    font-size: 25px;
    padding: 1px;
    padding-right: 1px;
    width: 20%;

}
.tweetBox__input ::placeholder{
  color: grey;
}

/*  */
.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-background);
  padding-bottom: 10px;

  margin-top: 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-left: 25%;
  margin-right: 33%;
}


.post__body {
  flex: 1;
  padding: 10px;
}

.post__avatar {
  padding: 20px;
}

.post__body > img {
  border-radius: 20px;
  width: 100%;
}

.post__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.post__badge {
  font-size: 14px !important;
  color: var(--twitter-color);
}

.post__headerText > h3 {
  font-size: 15px;
  margin-bottom: 5px;
}

.post__headerSpecial {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}

.post__headerDescription {
  margin-bottom: 10px;
  font-size: 15px;
}